@charset "utf-8";

$gold: #c0a064;
$black: #2c2a28;
$gray: #6c6a68;
$gray_ph: #f8f6f4;

$xs: 420px;
$md: 1024px;
$lg: 1240px;

@mixin media($size){
	@media (max-width: $size) {
		@content;
	}
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
	font-family: trajan-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

html {
	scroll-behavior: smooth;
}

.wr {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

%ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 36px;
	color: $black;
	text-align: center;
	margin: 0;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 3px;

	&:after {
		content: '';
		height: 2px;
		width: 150px;
		background-color: $gold;
		position: absolute;
		right: 0;
		left: 0;
		margin: auto;
		top: 60px;
	}

	@include media($xs) {
		font-size: 15px;

		&:after {
			top: 35px;
		}
	}
}

h3 {
	font-size: 30px;
	color: $black;

	@include media($xs) {
		font-size: 20px;
	}
}

#go-top {
  position: fixed; 
  bottom: 25px; 
  left: 70px;
  cursor:pointer; 
  display:none;
  width: 80px;
  height: 30px;
  line-height: 30px;
}